# Case Study - Country Club

### PART 2\: SQLite
Export the country club data from PHPMyAdmin, and connect to a local SQLite instance from Jupyter notebook for the following questions.

#### QUESTIONS\:
- (Q10) Produce a list of facilities with a total revenue less than 1000. The output of facility name and total revenue, sorted by revenue. Remember that there's a different cost for guests and members!
- (Q11) Produce a report of members and who recommended them in alphabetic surname,firstname order
- (Q12) Find the facilities with their usage by member, but not guests
- (Q13) Find the facilities usage by month, but not guests

#### Connect to local SQLite instance using script

In [52]:
! python .\LocalSQLConnection.py

2.6.0
2. Query all tasks
(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

In [61]:
conn = engine.connect()

In [62]:
rs = con.execute("SELECT * FROM Members LIMIT 15")

ObjectNotExecutableError: Not an executable object: 'SELECT * FROM Members LIMIT 15'