# Case Study - Country Club

### PART 2\: SQLite
Export the country club data from PHPMyAdmin, and connect to a local SQLite instance from Jupyter notebook for the following questions.

#### QUESTIONS\:
- (Q10) Produce a list of facilities with a total revenue less than 1000. The output of facility name and total revenue, sorted by revenue. Remember that there's a different cost for guests and members!
- (Q11) Produce a report of members and who recommended them in alphabetic surname,firstname order
- (Q12) Find the facilities with their usage by member, but not guests
- (Q13) Find the facilities usage by month, but not guests

#### Connect to local SQLite instance using script

In [1]:
! python .\LocalSQLConnection.py

2.6.0
2. Query all tasks
(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

In [14]:
#SQLAlchemy keeps throwing errors for everything. Trying SQLite instead...
import sqlite3

#connect to db
conn = sqlite3.connect('sqlite_db_pythonsqlite.db')
cursor = conn.cursor()

cursor.execute("SELECT * FROM Bookings LIMIT 10")
cursor.fetchall()

[(0, 3, 1, '2012-07-03 11:00:00', 2),
 (1, 4, 1, '2012-07-03 08:00:00', 2),
 (2, 6, 0, '2012-07-03 18:00:00', 2),
 (3, 7, 1, '2012-07-03 19:00:00', 2),
 (4, 8, 1, '2012-07-03 10:00:00', 1),
 (5, 8, 1, '2012-07-03 15:00:00', 1),
 (6, 0, 2, '2012-07-04 09:00:00', 3),
 (7, 0, 2, '2012-07-04 15:00:00', 3),
 (8, 4, 3, '2012-07-04 13:30:00', 2),
 (9, 4, 0, '2012-07-04 15:00:00', 2)]

In [18]:
# Q10. Produce a list of facilities with a total revenue less than 1000. The output of facility name and total revenue, sorted by revenue. Remember that there's a different cost for guests 
query = "SELECT * FROM Facilities WHERE LIMIT 10"
cursor.execute(query)
cursor.fetchall()

[(0, 'Tennis Court 1', 5, 25, 10000, 200),
 (1, 'Tennis Court 2', 5, 25, 8000, 200),
 (2, 'Badminton Court', 0, 15.5, 4000, 50),
 (3, 'Table Tennis', 0, 5, 320, 10),
 (4, 'Massage Room 1', 9.9, 80, 4000, 3000),
 (5, 'Massage Room 2', 9.9, 80, 4000, 3000),
 (6, 'Squash Court', 3.5, 17.5, 5000, 80),
 (7, 'Snooker Table', 0, 5, 450, 15),
 (8, 'Pool Table', 0, 5, 400, 15)]

In [ ]:
#close sqlite connection
conn.close()